/*
* Filename: _container.scss
* Author: jake rego
* Desc: houses container styles
*/

.container {
  max-width: $max-content-width;
  margin-right: auto;
  margin-left:  auto;

  overflow: hidden;

}