/*
* filename: _footer.scss
* author: jake rego
* desc: styles for the footer bar
*/

.footer {
  
  font-family: $font--main;
  font-weight: 300;

  width: 100%;
  background-color: rgba( 239, 239, 239, 1.0);
  height: 75px;
  
  display: table;

  &__section {
    width: 50%;
    padding: 20px;

    display: table-cell;
    vertical-align: middle;

  
    &--right {
      text-align: right;
    }

    p {
      font-size: .85rem;
    }

    a {
      font-size: .85rem;
      text-decoration: none;
      padding: 5px;
    }
    

    @media all and (max-width: $bp--med) {
      float: left;
      width: 100%;
      text-align: center;
      padding: 10px;
      &--right {

      } 

    }

  }

}