/*
* filename: _grid.scs
* author: jake rego
* desc: Holds the grid styling
*/

.grid--overflow {
  position: relative;
  overflow: hidden;
  width: 1502px;
  -moz-box-shadow:    inset 0 0 100px #000000;
   -webkit-box-shadow: inset 0 0 100px #000000;
   box-shadow:         inset 0 0 100px #000000;
}


.grid {
  max-width: 1450px;
  
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

.grid__cell {
  
  float: left;

  &--small {
    width: 250px;
    height: 250px;
  }

  &--large {

    position: relative;
    display: block;
    width: 50%;

    max-height: 575px;

    display: flex;
    justify-content: center;
    align-items: center;

    img { 
      height: 100%;
      width: 100%;
    }

    &:nth-child(2n+1) {
      clear: both; 
    }

    @media all and (max-width: $bp--lg) {
      width: 100%;
  
      &:nth-child(2) {
        clear: both;
      }
    }

  } /* large */

  &--inner {
    margin-right: auto;
    margin-left:  auto;
    max-width: 450px;
    height: auto;

    font-family: $font--main;
    color: rgba(85,85,89,1.0);

    hr {
      border: 1px solid rgba(40,103,130,1.0);
      width: 20px;
      display: inline-block;
      margin-left: -16px;
      padding: 0;
      margin-bottom: 5px;

      @media all and (max-width: 1024px) {
        visibility: hidden;
      }

    }

    h2 {
      font-weight: 700;
      display: inline-block;
      font-size: 1.5rem;
      margin: 10px;
    }

    p {
      font-weight: 300;
      margin: 20px;
      font-size: 1.0rem;
      //max-width: 450px;
    }
  
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

} /* grid--cell */

