/*
* filename: _hero.scss
* author: jake rego
* desc: styles for the _hero section
*/


.hero {

  width: 100%;
  margin-right: auto;
  margin-left:  auto;

  padding: 100px 12%;
  background-color: rgba( 251, 250, 250, 1.0);
  text-align: center;
  color: rgba( 85, 85, 89, 1.0);

  font-family: $font--main;
  
  @media all and (max-width: $bp--lg) {
    padding: 100px 5%;
  }

  @media all and (max-width: $bp--med) {
    padding: 100px 2.5%;
  }

  &__img {
    width: 100px;
    height: 100px;
  }

  &__header {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
  }
  
  &__button {

    margin-right: auto;
    margin-left:  auto;

    width: 36%;
    min-width: 225px;
    height: 65px;
    border: 1px green solid;
    margin-top: 75px;
    
    background-color: rgba( 40, 103, 130, 1.0);
    transition: background-color .35s ease;
    border-radius: 5px;
    display: table;
    

    &--link {
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;
      color: white;  
    }

    &:hover {
      background-color: rgba( 40, 103, 130, 0.80);
    }

  } /* button */



} /* hero */