/*
* filename: _logo.scss
* author: jakerego
* desc: holds styles for the logo
*/

.logo {

  position: absolute;
  top: 25px;
  right: 100px;
  
  &__link {
    postition: relative;
      
    a {
      text-decoration: none;
      font-family: $font--main;
      font-weight: 700;
      font-size: .85rem;
      color: white;
    }

  }

}