/*
* filename: _nav.scss
* author: jake rego
* desc: navigation styling
*/

.nav__frame {
   
  width: 100%;
  //height: 100px;
  
  background-color: rgba( 255, 255, 255, 1.0);
  box-shadow: 0px 5px 5px rgba(232, 231, 231, 1.0);

}

.nav {
  
  max-width: 700px;
  margin-right: auto;
  margin-left:  auto;

  display: flex;
  @media all and (max-width: $bp--sm) {
    flex-direction: column;
  }
  height: auto;
}

.nav__item {
  font-family: $font--main;

  text-transform: uppercase;

  list-style-type: none;
  align-content: space-between;
  width: percentage(1/4);
    

  height: 100px;
  text-align: center;
  
  display: table;

  @media all and (max-width: $bp--sm) {
    width: 100%;
    height: 50px;
  }

  a {
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    transition: color .35s ease;

    &:hover {
      color: lighten(black, 20%);
    }

  }

}