/*
* filename: fonts.scss
* author:   jake rego
* desc:     holds font variables
*/

$font--main: 'Open Sans', sans-serif;

/* for the IcoMoon Font Logo */
@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon/icomoon.eot');
  src:    url('../fonts/icomoon/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon/icomoon.woff') format('woff'),
      url('../fonts/icomoon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyph, .glyph-before:before, .glyph-after:after {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal; 
  font-size: 1.0rem;
  color: white;
}

/* line 49, source/sass/base/_fonts.scss */
.glyph-before:before, .glyph-after:after {
  content: attr(data-icon);
  speak: none; 
}