/*
* Filename: _reset.scss
* Author: Jake Rego
* Desc: reset file for the css
*/


*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}