/*
*
* Filename: styles.scss
* Author: Jake Rego
* Desc: This is the index for scss files
*/
/*
* Filename: _reset.scss
* Author: Jake Rego
* Desc: reset file for the css
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
* Filename: _variables.scss
* author: jake rego
* Desc: will house the sass variables
*/
/*
* filename: fonts.scss
* author:   jake rego
* desc:     holds font variables
*/
/* for the IcoMoon Font Logo */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.glyph, .glyph-before:before, .glyph-after:after {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-size: 1.0rem;
  color: white; }

/* line 49, source/sass/base/_fonts.scss */
.glyph-before:before, .glyph-after:after {
  content: attr(data-icon);
  speak: none; }

/*
* Filename: _container.scss
* Author: jake rego
* Desc: houses container styles
*/
.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

/*
* filename: _grid.scs
* author: jake rego
* desc: Holds the grid styling
*/
.grid--overflow {
  position: relative;
  overflow: hidden;
  width: 1502px;
  -moz-box-shadow: inset 0 0 100px #000000;
  -webkit-box-shadow: inset 0 0 100px #000000;
  box-shadow: inset 0 0 100px #000000; }

.grid {
  max-width: 1450px; }
  .grid:before, .grid:after {
    content: "";
    display: table;
    clear: both; }

.grid__cell {
  float: left;
  /* large */ }
  .grid__cell--small {
    width: 250px;
    height: 250px; }
  .grid__cell--large {
    position: relative;
    display: block;
    width: 50%;
    max-height: 575px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .grid__cell--large img {
      height: 100%;
      width: 100%; }
    .grid__cell--large:nth-child(2n+1) {
      clear: both; }
    @media all and (max-width: 760px) {
      .grid__cell--large {
        width: 100%; }
        .grid__cell--large:nth-child(2) {
          clear: both; } }
  .grid__cell--inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    height: auto;
    font-family: "Open Sans", sans-serif;
    color: #555559; }
    .grid__cell--inner hr {
      border: 1px solid #286782;
      width: 20px;
      display: inline-block;
      margin-left: -16px;
      padding: 0;
      margin-bottom: 5px; }
      @media all and (max-width: 1024px) {
        .grid__cell--inner hr {
          visibility: hidden; } }
    .grid__cell--inner h2 {
      font-weight: 700;
      display: inline-block;
      font-size: 1.5rem;
      margin: 10px; }
    .grid__cell--inner p {
      font-weight: 300;
      margin: 20px;
      font-size: 1.0rem; }
  .grid__cell:after {
    content: "";
    display: table;
    clear: both; }

/* grid--cell */
/*
* filename: _nav.scss
* author: jake rego
* desc: navigation styling
*/
.nav__frame {
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 5px #e8e7e7; }

.nav {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: auto; }
  @media all and (max-width: 460px) {
    .nav {
      flex-direction: column; } }

.nav__item {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  align-content: space-between;
  width: 25%;
  height: 100px;
  text-align: center;
  display: table; }
  @media all and (max-width: 460px) {
    .nav__item {
      width: 100%;
      height: 50px; } }
  .nav__item a {
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-decoration: none;
    transition: color .35s ease; }
    .nav__item a:hover {
      color: #333333; }

/*
* filename: _footer.scss
* author: jake rego
* desc: styles for the footer bar
*/
.footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  background-color: #efefef;
  height: 75px;
  display: table; }
  .footer__section {
    width: 50%;
    padding: 20px;
    display: table-cell;
    vertical-align: middle; }
    .footer__section--right {
      text-align: right; }
    .footer__section p {
      font-size: .85rem; }
    .footer__section a {
      font-size: .85rem;
      text-decoration: none;
      padding: 5px; }
    @media all and (max-width: 580px) {
      .footer__section {
        float: left;
        width: 100%;
        text-align: center;
        padding: 10px; } }

/*
* filename: _hero.scss
* author: jake rego
* desc: styles for the _hero section
*/
.hero {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 12%;
  background-color: #fbfafa;
  text-align: center;
  color: #555559;
  font-family: "Open Sans", sans-serif;
  /* button */ }
  @media all and (max-width: 760px) {
    .hero {
      padding: 100px 5%; } }
  @media all and (max-width: 580px) {
    .hero {
      padding: 100px 2.5%; } }
  .hero__img {
    width: 100px;
    height: 100px; }
  .hero__header {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300; }
  .hero__button {
    margin-right: auto;
    margin-left: auto;
    width: 36%;
    min-width: 225px;
    height: 65px;
    border: 1px green solid;
    margin-top: 75px;
    background-color: #286782;
    transition: background-color .35s ease;
    border-radius: 5px;
    display: table; }
    .hero__button--link {
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;
      color: white; }
    .hero__button:hover {
      background-color: rgba(40, 103, 130, 0.8); }

/* hero */
/*
* filename: _logo.scss
* author: jakerego
* desc: holds styles for the logo
*/
.logo {
  position: absolute;
  top: 25px;
  right: 100px; }
  .logo__link {
    postition: relative; }
    .logo__link a {
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: .85rem;
      color: white; }

/*! * [Scalable Text in CSS with Maximum and Minimum Sizes](https://github.com/kevinmack18/SCALABLE-TEXT-IN-CSS) */
